---
import Header from "../components/Header.astro"
import Main from "../layouts/main.astro"
import Navigation from "../components/Navigation.astro"
---
<Main title="Kunstner">
<Navigation/>
<Header heading="Kunstner"/>
</Main>