---
import Header from "../components/Header.astro"
import Main from "../layouts/main.astro"
import InfoLarge from "../components/Info_large.astro"
import Cta from "../components/Cta.astro"
import Navigation from "../components/Navigation.astro"
---
<Main title="Info">
<Navigation/>
<Header heading="Info"/>
<section class="section_1">
    <div>
    <InfoLarge head="Børn på festivalen" href="kidsonthefestival"/>
    <InfoLarge head="Kontakt"/>
    <InfoLarge head="Regler og sikkerhed"/>
    <InfoLarge head="Kort over pladsen"/>
</div>
<div>
    <InfoLarge head="Mad og drikke"/>
    <InfoLarge head="Handicap faciliteter"/>
    <InfoLarge head="Åbningstider og parkering"/>
</div>
<div>
    <InfoLarge head="Armbånds påsætning"/>
    <InfoLarge head="Betaling og sikkerhed"/>
    <InfoLarge head="Festivalbus, tog og taxa"/>
    <InfoLarge head="Garderobe mm."/>
</div>
</section>
<section class="section_2">
    <Cta head="Fik du ikke svar på dit spørgsmål, så kontakt os her" href="" text="Kontakt os"/>
</section>
</Main>
<style>
.section_1{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    place-items: center;
    justify-content: center;
    margin-top: var(--spacing-vertical-xsmall);
    margin-bottom: var(--spacing-vertical-medium);
}
div {
    display: flex;
    flex-wrap: wrap;
    gap: var(--spacing-margin-small);
}
@media (max-width: 1000px) {
    .section_1 {
    gap: var(--spacing-margin-small);
    }
    div {
        display: flex;
        flex-wrap: wrap;
            align-items: center;
    justify-content: center;
        gap: var(--spacing-margin-small);
    }
}
</style>