---
import Header from "../components/Header.astro"
import Main from "../layouts/main.astro"
import Navigation from "../components/Navigation.astro"
---
<Main title="Line-up">
<Navigation/>
<Header heading="Line-up"/>
</Main>