---
import Main from "../layouts/main.astro";
import Header from "../components/Header.astro";
import Cta from "../components/Cta.astro";
import ProgramTorsdag from "../components/Program_torsdag.astro";
import ProgramOnsdag from "../components/Program_onsdag.astro";
import ProgramFredag from "../components/Program_fredag.astro";
import ProgramLordag from "../components/Program_lørdag.astro";
---
<Main title="Program">
  <Header heading="Program"/>
  <div class="days">
      <a href="#" data-day="onsdag">Onsdag</a>
      <a href="#" data-day="torsdag">Torsdag</a>
      <a href="#" data-day="fredag">Fredag</a>
      <a href="#" data-day="lordag">Lørdag</a>
  </div>
  <div id="program-container">
    <!-- <ProgramOnsdag /> -->
    <ProgramTorsdag/>
    <!-- <ProgramFredag />
    <ProgramLordag /> -->
  </div>
  <section class="section2">
      <Cta head="Vil du se alle kunstnere? Så tjek vores fulde Lineup ud!" text="Se lineup"/>
  </section>
</Main>

<style>
.days {
    display: flex;
    justify-content: center;
    gap: var(--spacing-vertical-xsmall);
}
a {
    font-family: "proxima-nova", sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: normal;
    text-decoration: none;
    text-transform: uppercase;
    color: var(--color-button-linkbutton-text-default);
}
a:active {
    text-decoration: underline;
    color: var(--color-button-linkbutton-text-clicked);
}
.section2 {
  display: flex;
  justify-content: center;
  margin-top: var(--spacing-vertical-medium);
  margin-bottom: var(--spacing-vertical-large);
}
.program {
  display: none; /* Skjuler alle programmer som standard */
}
.program:not(.hidden) {
  display: block; /* Viser programmet når hidden klassen fjernes */
}
.hidden {
  display: none; /* Skjuler elementer med hidden klassen */
}
</style>
<script>

</script>
    
