---
import CardSmallReverse from "../components/Card_small_reverse.astro"
import Main from "../layouts/main.astro"
import Heartlist from "../components/Heartlist.astro"
import CardSmall from "../components/Card_small.astro"
import Cta from "../components/Cta.astro"
---
<Main title="Frivillig">
<section class="section1">
    <CardSmall head="En følelse af fællesskab" maintext="Når du bruger din fritid på at arbejde for festivalen og de lokale foreninger, er du en del af et stort fællesskab, hvor der løftes i flok. Sammen med de andre hjælpere får du et unikt sammenhold, der skabes gennem arbejdet, socialt samvær, hygge og samarbejde.Når du bruger din fritid på at arbejde for festivalen og de lokale foreninger, er du en del af et stort fællesskab, hvor der løftes i flok. Sammen med de andre hjælpere får du et unikt sammenhold, der skabes gennem arbejdet, socialt samvær, hygge og samarbejde." img="image/volunteer/frivillig_section1.webp" alt="to frivillige piger" href="" text="Bliv frivillig"/>
</section>
<section class="section2">
    <img src="" alt="">
    <div class="testimonial">
        <p class="large">Jeg har haft en super oplevelse som frivillig på Vig Festival, det har givet mig en unik mulighed for at være en del af noget større.</p>
        <p class="medium">-Sofie, 23 år, frivillig</p>
    </div>
</section>
<section class="section3">
    <CardSmallReverse head="Fordele som frivillig" img="image/volunteer/frivllig_section3.webp" alt="2 damer fester" href="" text="Bliv frivillig">
        <Heartlist input="Del af årets medhjælperfest"/>
        <Heartlist input="Partoutbillet til alle dage"/>
        <Heartlist input="Gratis mad og drikke!"/>
        <Heartlist input="Du bliver en del af et større fællesskab"/>
    </CardSmallReverse>
</section>
<section class="section4">
    <h3>Godt at vide</h3>
</section>
<section class="section5">
    <Cta head="Fik du ikke svar på dit spørgsmål, så kontakt os her" href="" text="Kontakt os"/>
</section>
</Main>
<style>
.testimonial {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
width: 600px;
color: var( --color-green-400);
}

</style>