---
import CardSmallReverse from "../components/Card_small_reverse.astro"
import Main from "../layouts/main.astro"
import Heartlist from "../components/Heartlist.astro"
---
<Main title="Frivillig">
<CardSmallReverse> 
<Heartlist input="hejsa"/>
<Heartlist input="hejsa"/>
<Heartlist input="hejsa"/>
<Heartlist input="hejsa"/>
</CardSmallReverse>
</Main>