---
const {head, text} = Astro.props;
import Roundbutton from "./Roundbutton.astro";
---
<div>
<a href="/"> 
<Roundbutton text="Køb her"/>
<h4>{head}</h4>
<p class="small">{text}</p>
<div class="space"></div>
</a>   
</div>

<style>
div{
width: 289px;
height: 426px;
flex-shrink: 0; 
border-radius: 20px;
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
background: var(--color-cards-ticket-background-default);}

a {
background: var(--color-cards-ticket-background-default);
}
h4 {
color: var(--color-cards-ticket-text-main);
text-align: center;    
}
.small {
color: var(--color-cards-ticket-text-main);
text-align: center;    
}
.space {
display: flex;
padding: 0px 20px;
align-items: flex-end;
gap: 10px;
flex: 1 0 0;
align-self: stretch;    
}
a:hover{
background: var(--color-cards-ticket-background-hover); 
}
a:active {
background: var(--color-cards-ticket-background-hover); 
}