---
const {head, text} = Astro.props;
import Roundbutton from "./Roundbutton.astro";
---
<div>
<a href="/"> 
<Roundbutton text="Køb her"/>
<div class="space"></div>
<h3>{head}</h3>
<p class="small">{text}</p>
</div>
</a>   
</div>

<style>
div{
width: 426px;
height: 426px;
flex-shrink: 0; 
border-radius: 20px;
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
a {
background: var(--Color-Cards-ticket-background-default, #B6D475);
}
h3 {
color: var(--Color-Cards-ticket-text-main, #174128);
text-align: center;    
}
.small {
color: var(--Color-Cards-ticket-text-main, #174128);
text-align: center;    
}
.space {
display: flex;
width: 426px;
height: 229px;
flex-direction: column;
align-items: flex-start;
gap: 10px;
flex-shrink: 0;   
}
a:hover{
background: var(--Color-Cards-ticket-background-hover, #174128); 
}
a:active {
background: var(--Color-Cards-ticket-background-hover, #174128); 
}