---
import Secondarybutton from "./Secondarybutton.astro"
const {head, href, text} = Astro.props;
---
<div>
<h4>{head}</h4>
<Secondarybutton {href} {text}/>
</div>
<style>
div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--spacing-vertical-xsmall);
    width: 700px;
}
h4 {
    margin: 0;
    text-align: center;
}
</style>