---
const {text} = Astro.props; 
import Accordion from "./Accordion.astro";
---
<div>
<Accordion head="Hvordan opretter jeg hjælperbørn?" text="lorem ipsum"/>

<Accordion head="Min teamchef har oprettet mig"text="lorem ipsum"/>

<Accordion head="Rettelse af data og kodeord" text="lorem ipsum"/>

<Accordion head="Hjælp til Login"text="lorem ipsum"/>

<Accordion head="Hvordan skifter jeg team?" text="lorem ipsum"/>

<Accordion head="Hvordan bestiller jeg hjælpercamp?" text="lorem ipsum"/>
</div>

<style>
    div{
        display: flex;
        flex-direction: column;
        gap: var(--spacing-margin-small);
    }
</style>