---
const {text} = Astro.props; 
import Accordion from "./Accordion.astro";
---
<div>
    <Accordion head="Hvordan opretter jeg hjælperbørn?" href="/"/>
    <Accordion head="Min teamchef har oprettet mig" href="/"/>
    <Accordion head="Rettelse af data og kodeord" href="/"/>
    <Accordion head="Hjælp til Login" href="/"/>
    <Accordion head="Hvordan skifter jeg team?" href="/"/>
    <Accordion head="Hvordan bestiller jeg hjælpercamp?" href="/"/>
</div>

<style>
    div{
        display: flex;
        flex-direction: column;
        gap: var(--spacing-margin-small);
    }
</style>