---
const {heading} = Astro.props;
---
<div>
    <h2>{heading}</h2>
</div>

<style>
div{
display: flex;
width: 1281px;
height: 436.57px;
justify-content: center;
align-items: center;
background-image: url(/public/graphics/headergraphic.svg);
}
h2 {
color: var(--color-text-heading2-white, #FFFFF3);
position: absolute;
right: 459.5px;
top: 185px;
text-align: center;
}
</style>