---
const {heading} = Astro.props;
---
<div>
    <h2>{heading}</h2>
</div>

<style>
    div{
        margin: 0;
        padding: 0;
        position: relative;
        background-image: url(/public/graphics/headergraphic.svg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 440px; 
    }
    h2 {
        color: var(--color-text-heading2-white, #FFFFF3);
        position: absolute;
        justify-self: center;
        /* top: 50%;
        left: 20%; */
        margin: 0;
    }
</style>