---
const {img, alt, text} = Astro.props;
---
<div>
<a href="/">
<img src={img} alt={alt}>
<h5>{text}</h5>
</a>
</div>
<style>
div {
display: flex;
width: 272px;
height: 272px;
justify-content: center;
align-items: center;
flex-shrink: 0;
border-radius: 360px;
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
a {
background: linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), lightgray 50% / cover no-repeat;
}
h5 {
color: var(--Color-naturel-100, #FFFFF3);
text-align: center;
}
a:hover {
background: var(--Color-Cards-round-background-hover, #FFD9FD);
}
h5:hover {
color: var(--Color-naturel-500, #0A0A0A);
}
a:active{
background: var(--Color-Cards-round-background-active, #FF9CF9);
}
h5:active {
color: var(--Color-text-normaltext_black, #0A0A0A);
}
</style>