---
const {nav} = Astro.props;
---
<div>
    <h2>{nav}</h2>
</div>
<style>
div{
justify-content: center;
align-items: center;
}    
h2 {
color: var(--Color-pink-200, #FFD9FD);
text-align: center;
margin: 0px;
line-height: 82px;
}
h2:hover {
color: var(--Color-pink-300, #FF9CF9);
}  
h2:active {
color: var(--Color-pink-400, #E761DF);   
} 
</style>