---
import NavButton from "./Nav_button.astro"
import Tertiarybutton from "./Tertiarybutton.astro"
---
<header>
  <div class="navigation">
    <a href="/"><img src="/public/logos/vig_festival_logo.svg" width="55px" height="55px" alt="logo"></a>
    <div>
    <Tertiarybutton/>
    <button>
      <img src="/public/logos/menu_closed.svg" width="55px" height="27px" alt="menu closed">
    </button>
    </div>
  </div>
    <nav>
        <ul>
          <li><a href="/"><NavButton nav="program"/></a></li>
          <li><a href="/"><NavButton nav="billet"/></a></li>
          <li><a href="/"><NavButton nav="line-up"/></a></li>
          <li><a href="/"><NavButton nav="info"/></a></li>
          <li><a href="/"><NavButton nav="frivillig"/></a></li>
          <li><a href="/"><NavButton nav="om os"/></a></li>
        </ul>
      </nav>
</header>

<style>
.navigation{
display: flex;
padding: 20px;
justify-content: space-between;
align-items: center;
}
div {
display: flex;
align-items: center;
gap: 23px;    
}
button {
  text-decoration: none;
}
</style>