---
import Tertiarybutton from "./Tertiarybutton.astro"
---
<nav>
    <img src="/public/logos/vig_festival_logo.svg" alt="logo">
    <div>
    <Tertiarybutton/>

    </div>
</nav>

<style>
nav{
display: flex;
width: 1280px;
padding: 20px;
justify-content: space-between;
align-items: center;
}
div {
display: flex;
align-items: center;
gap: 23px;    
}
</style>