---
import Tertiarybutton from "./Tertiarybutton.astro"
---
<header>
    <img src="/public/logos/vig_festival_logo.svg" alt="logo">
    <div>
    <Tertiarybutton/>
    <button>
    </button>
    </div>

    <nav>
        <ul>
          <li><a href="/">Program</a></li>
          <li><a href="/">billet</a></li>
          <li><a href="/">line-up</a></li>
          <li><a href="/">info</a></li>
          <li><a href="/">frivillig</a></li>
          <li><a href="/">om os</a></li>
        </ul>
      </nav>
</header>

<style>
nav{
display: flex;
width: 1280px;
padding: 20px;
justify-content: space-between;
align-items: center;
}
div {
display: flex;
align-items: center;
gap: 23px;    
}
</style>