---
const {img, alt, head, text} = Astro.props;
import Roundbutton from "./Roundbutton.astro";
---
<div>
<img src={img} alt={alt}>
<div class="nyhedertext">
<h6>{head}</h6>
<p class="xsmall">{text}</p>
</div>
<Roundbutton text="Læs mere"/>
</div>
<style>
div {
width: 343px;
height: 354px;
flex-shrink: 0;
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
border-radius: var(--spacing-corner-radius-medium, 20px);
}
img {
background: lightgray 50% / cover no-repeat;
}
.nyhedertext {
display: flex;
width: 343px;
height: 125px;
padding: var(--spacing-2, 20px);
flex-direction: column;
justify-content: flex-end;
align-items: flex-start;
flex-shrink: 0;
border-radius: 0px 0px 20px 20px;
background: linear-gradient(0deg, #0A0A0A 0%, #000 0.01%, rgba(153, 153, 153, 0.00) 100%);    
}
h6 {
color: var(--Color-naturel-100, #FFFFF3);
}
p {
color: var(--Color-naturel-100, #FFFFF3);
align-self: stretch;
}

</style>