---
const {href = "/", text} = Astro.props;
---
<a href={href} class="button-link">
  <p class="linkbuttontext">{text}</p>
</a>

<style>
.button-link {
    display: inline-block;
    padding: 20px 50px;
    text-decoration: none;
    background: var(--color-button-primarybutton-background-default, #FF9CF9);
    color: var(--color-button-primarybutton-text-default, #0A0A0A);
    border: none;
}
.button-link:hover {
    background: var(--color-button-primarybutton-background-hover, #E761DF);
}
.button-link:active {
    border: 2px solid var(--color-pink-400, #E761DF);
    background: var(--color-button-primarybutton-background-default, #FF9CF9);
}
p {
  margin:0px;
}

</style>