---
const {text} =Astro.props;
---
<div class="roundbutton">
    <a href="/">
    <p class="linkbuttontext">{text}</p>
    </a>
</div>
<style>
.roundbutton a {
display: flex;
width: 120px;
height: 120px;
text-decoration: none;
color: transparent;
justify-content: center;
align-items: center;
flex-shrink: 0; 
border-radius: 360px;   
position: absolute;
left: 110px;
top: 110px;
}
.roundbutton a:hover {
background: var(--Color-Button-Roundbutton-background-hover, #FFD9FD);
color: var(--Color-Button-Roundbutton-text-hover);
}
.linkbuttontext p:hover {
color: var(--Color-Button-Roundbutton-text-hover, #0A0A0A);
}
.roundbutton a:active {
background: var(--Color-Button-Roundbutton-background-Active, #FF9CF9);
}
.linkbuttontext p:active {
color: var(--Color-Button-Roundbutton-text-hover, #0A0A0A);
}
</style>