---
---

<div class="udsolgt">
    <p class="linkbutton_text">Udsolgt</p>
</div>


<style>
.udsolgt {
position: absolute;
transform: rotate(30deg);
padding: 20px 40px;
background: var(--Color-green-400, #174128); 
width: 173px;
left: 55%;
}

p {
color: var(--Color-naturel-100, #FFFFF3);
text-align: center;

/* linkbutton text */
font-family: "Proxima Nova";
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;
text-transform: uppercase;
}
</style>