---
const {href = "/", text} = Astro.props;
---
<a href={href} class="button-link">
  <p class="linkbuttontext">{text}</p>
</a>

<style>
.button-link {
    display: inline-block;
    padding: 20px 50px;
    text-decoration: none;
    background: var(--color-button-secondarybutton-background-default, #174128);
    color: var(--color-button-secondarybutton-text-default, #FFFFF3);
    border: none;
}
.button-link:hover {
  background: var(--color-button-secondarybutton-background-hover, #0A0A0A);
}
.button-link:active {
  border: 2px solid var(--color-button-secondarybutton-background-active_stroke, #0A0A0A);
    background: var(--color-button-secondarybutton-background-active_fill, #174128); 
}
p {
  margin:0px;
}
</style>