---
---
<div>
    <a href="/">
    <p>Køb billet</p>
    </a>
</div>
<style>
div a {
display: inline-flex;
padding: 10px var(--spacing-2, 20px);
justify-content: center;
align-items: center;
gap: 10px; 
border-radius: 20px;
background: var(--color-button-tertiarybutton-background-default, #FF9CF9);  
text-decoration: none;
}
p {
color: var(--color-button-tertiarybutton-text-default, #0A0A0A);
text-align: center;
font-family: "proxima-nova", sans-serif;
font-size: 15px;
font-style: normal;
font-weight: 700;
line-height: normal;
text-transform: uppercase;
text-decoration: none;
}
div a:hover {
background: var(--color-button-tertiarybutton-background-hover, #E761DF);    
}
div a:active {
border: 2px solid var(--color-button-primarybutton-background-active_stroke, #E761DF);
background: var(--color-button-tertiarybutton-background-active_fill, #FF9CF9);    
}
</style>